name: Build Docker image for hello-kube

on:
  push:
    branches: [ main ]   # main 브랜치에 push될 때 자동 실행

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 소스코드 체크아웃
      - name: Checkout repository
        uses: actions/checkout@v4

      #  Docker Buildx 설정
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      #  DockerHub 로그인 (GitHub Secrets 필요)
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Docker 이미지 빌드 및 푸시
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/hello-kube:latest

